@font-face {
    font-family: "comfortaa medium";
    src: url("/assets/fonts/Comfortaa/static/Comfortaa-Medium.ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "comfortaa semibold";
    src: url("/assets/fonts/Comfortaa/static/Comfortaa-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "comfortaa bold";
    src: url("/assets/fonts/Comfortaa/static/Comfortaa-Bold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "comfortaa regular";
    src: url("/assets/fonts/Comfortaa/static/Comfortaa-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "comfortaa light";
    src: url("/assets/fonts/Comfortaa/static/Comfortaa-Light.ttf");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}